.link-design {
    display: block;
    padding: 0;
    margin: 0;
    margin-top: 1px;
    text-align: center;
    width: 100%;
    color: black;

}

.link-design:hover {
    background-color: #b51242;
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.sidebar-border {
    border-right: 1px solid grey;
    padding-right: 0;
}

li {
    display: block;
    color: black;
    text-align: left;
    padding-left: 0px;
    text-decoration: none;
    float: left;
}

.hor-sidebar {
    width: 10%;
}

a ul {
    font-size: 60%;
}

a {
    padding-left: 1px !important;
    padding-right: 0 !important;
}

ul {
    padding-left: 25px;
    color: white;
}

.sidebar-design {
    border-right: 1px solid grey;
    height: inherit;
    padding: 0;
}

@media only screen and (max-width: 990px) {
    .sidebar-design {
        height: 100%;
    }
}