.tag-button {
    background-color: red;
    border-radius: 12px;
    outline: none;
    box-shadow: none
}

.tag-button:active, .tag-button:focus {
    outline: none;
    box-shadow: none;
}

#default-upload {
    display: none;
}

.input {
    width: 50%;
}