.tag-button {
    background-color: skyblue;
    border-radius: 12px;
    outline: none;
    box-shadow: none
}

.tag-button:active, .tag-button:focus {
    outline: none;
    box-shadow: none;
}

.upload-button {
    background-color: green;
}

#default-upload {
    display: none;
}