.top-image {
    z-index: 0;
    display: block;
    top: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.bottom-image {
    z-index: -1;
    display: block;
    top: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.title {
    font-size: 20px;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}

.tag {
    background-color: #325287;
    color: black;
    margin-right: 5px;
}
