.top-image {
    z-index: 0;
    display: block;
    top: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.bottom-image {
    z-index: -1;
    display: block;
    top: 5px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
}

.title {
    font-size: 20px;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
}

.category-tag {
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: silver;
    border: none;
    border-radius: 12px;
    color: black;
    font-weight: bold;
}

.align-tag {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.details {
    font-family: Helvetica, sans-serif;
    color: #3b557f;
    margin-top: 10px;
}

.center {
    text-align: center;
}

.category-container {
    background-color: #161616;
    border: 1px solid grey;
}

.category-margin {
    margin-top: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.pagination {
    display: inline-block;
    box-sizing:border-box;
    margin-top: 5px;
}

.pagination > li {
    display: inline;
    box-sizing:border-box;
}

.pagination > li > a {
    position: relative;
    float: left;
    padding: 6px 12px;
    line-height: 1.42857143;
    text-decoration: none;
    color: #337ab7;
    background-color: white;
    border: 1px solid black;
    margin-left: -1px;
    font-weight: bold;
}
