.top-image {
    z-index: 0;
    position: absolute;
}

.bottom-image {
    z-index: -1;
    position: absolute;
}

.image-container {
    height:500px;
}

.title {
    font-size: 15px;
}

.tag {
    background-color: #b7cff4;
    color: black;
    margin-right: 5px;
}
