.category-button {
    width: 100%;
    background-color: #202f47;
    text-align: center;
    color: white;
    margin-top: 1px;
    margin-left: 0;
}

.category-design {
    width: 100%;
    text-align: center;
    font-size: 15px;
    color: white;
}

.sidebar-list {
    background-color: #202f47;
    margin: 0;
    width: 100%;
    padding-left: 0;
    align-items: center;
    border-width: 1px 0 0 0;
    border-color: white;
    border-style: solid;
}

.category-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding: 0;
}

.category-item:hover {
    background-color: #b51242;
    text-decoration: none;
}

.category-item:hover .category-design {
    font-weight: bolder;
    font-size: 17px;
}

@media only screen and (max-width: 992px) {
    .category-design {
        font-size: 11px;
    }

    .category-item:hover .category-design {
        font-weight: bolder;
        font-size: 12px;
    }

}