.tag-button {
    margin-bottom: 5px;
    margin-right: 5px;
    background-color: silver;
    border: none;
    border-radius: 12px;
    color: black;
    font-weight: bold;

}

.tag-button:hover, .tag-button:focus {
    background-color: red;
}

.input-tag {
    width: 56%;
}

.create-tag {
    width: 19%;
}
