.navbar-default {
    background-color: #202f47;
    margin: 0;
    width: 100%;
    height: 50px;
}

.logo {
    padding-left: 15px;
    font-family: Helvetica, sans-serif;
    margin-top: 2px
}

.logo-image {
    height: 50px;
    width: 75px;
}

.nav-link-style {
    color: white;
    font-size: 20px;
    cursor: pointer;
    margin-top: 4px;
}

.category-navbar {
    color: white !important;
}

.upload {
    font-weight: bolder;
    color: green !important;
}

.category-dropdown {
    z-index: 3;
    position: absolute;
}

.align-right {
    justify-content: flex-end;
}

.align-left {
    justify-content: flex-start;
}

@media only screen and (max-width: 576px) {
    .nav-link-style {
        font-size: 15px;
    }
}