.navbar-default {
    background-color: #202f47;
    margin: 0;
    width: 100%;
    height: 50px;
}

.logo {
    padding-left: 15px;
    font-family: Helvetica, sans-serif;
}

.logo-image {
    height: 60px;
    width: 75px;
}

.nav-link-style {
    color: white !important;
    font-size: 20px;
    cursor: pointer;
}

.category-dropdown {
    z-index: 1;
}

.align-right {
    justify-content: flex-end;
}

.align-left {
    justify-content: flex-start;
}