.navbar {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #202f47;
    margin: 0;
    width: 100%;
}

.logo {
    padding-left: 15px;
}

.nav-link-color {
    color: white !important;
    font-size: 12px;
}

.category-dropdown {
    z-index: 1;
}

.align-right {
    text-align: right;
}

.align-left {
    text-align: left;
}