.small-image {
    width: 250px;
    height: 250px;
    margin-bottom: 50px;
}

.medium-image {
    width: 500px;
    height: 500px;
    margin-bottom: 50px;
}

.large-image {
    width: 1000px;
    height: 1000px;
    margin-bottom: 50px;
}

.small-button {
    background-color: green;
}

.medium-button {
    background-color: blue;
}

.large-button {
    background-color: darkred;
}

.button-margin {
    margin-bottom: 50px;
}

.center {
    text-align: center;
}

.image-container {
    text-align: center;
}

div[tabindex="-1"]:focus {
    outline: 0;
}

.detail-margin {
    margin-top: 45px;
}

.left-align {
    text-align: left;
}