.image-container {
    text-align: center;
}

.upvote {
    left: 37.5%;
    top: 50%;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
}

.downvote {
    left: 62.5%;
    top: 50%;
    position: absolute;
    margin-top: -25px;
    margin-left: -25px;
}