.link-design {
    background-color: #8394af;
    display: block;
    height: 100%;
    padding-left: 25%;
}

.link-text {
    color: white;
    font-size: 25px;
}

.link-design:hover {
    background-color: #b51242;
}

.link-text:hover {
    text-decoration: none;
    color:white;
    font-weight: bold;
    font-size: 30px;
}

.align-vertical {
    display: flex;
    align-items: center;
}
